<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pesquisa de Livros</title>
</head>
<body>
<h1>Pesquisar Livros</h1>

<form th:action="@{agencias/pesquisa}" method="get">
    <input type="text" name="titulo" placeholder="Digite o título do agencia" required />
    <button type="submit">Pesquisar</button>
</form>

<h2>Resultados</h2>
<table>
    <thead>
    <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Categoria</th>
        <th>Ano</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="agencia : ${resultados}">
        <td th:text="${agencia.nome}">Nome</td>
        <td>
            <a th:href="@{/agencias/editar/{id}(id=${agencia.id})}">Editar</a>
            <form th:action="@{/agencias/deletar/{id}(id=${agencia.id})}" method="post" onsubmit="return confirm('Tem certeza que deseja remover?');" style="display:inline;">
                <button type="submit">Deletar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/agencias}">Voltar à lista</a>
</body>
</html>
