<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/home}">SOLUTECH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/usuario/register}">Cadastrar Usuário</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/investimentos/novo}">Investimento</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/agencias/novo}">Agencia</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h1>Bem-vindo à Página Inicial</h1>
    <p>Conteúdo da página inicial vai aqui.</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
